<!DOCTYPE html>
<html>
  <head>
    <title>Jquery Validation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render :partial => "layouts/jquery_val/links" %>
  </head>

  <body>
    <%= render :partial => "layouts/jquery_val/navbar" %>
    <%= yield %>

    <script>
      <%= yield :javascript_footer %>
    </script>
    
  </body>
</html>
